@layer components {

    /* Variables */
    .vacom {
        --sidebar-transition-duration: 0.3s;
        --sidebar-transition-timing: ease;
        --sidebar-width: 280px;
        --sidebar-width-collapse: 80px;
        --sidebar-default-width: 280px;
        --header-height: 70px;
    }

    @media (max-width: theme(--breakpoint-lg)) {
        .vacom {
            --sidebar-width: 280px;
            --header-height: 60px;
        }
    }

    /* Base */
    .vacom .header {
        height: var(--header-height);
    }

    .vacom .sidebar {
        width: var(--sidebar-width);
    }

    .vacom.header-fixed .wrapper {
        padding-top: var(--header-height);
    }

    /* Desktop mode */
    @media (min-width: theme(--breakpoint-lg)) {
        .vacom .sidebar {
            width: var(--sidebar-width);
            transition: width var(--sidebar-transition-duration) var(--sidebar-transition-timing);
        }

        .vacom .sidebar .sidebar-header {
            height: var(--header-height);
        }

        .vacom .sidebar .sidebar-wrapper {
            width: var(--sidebar-default-width);
        }

        .vacom .sidebar .sidebar-logo {
            width: var(--sidebar-default-width);
        }

        .vacom .sidebar .small-logo {
            display: none;
        }

        .vacom.sidebar-fixed .wrapper {
            padding-inline-start: var(--sidebar-width) !important;
        }

        .vacom.sidebar-fixed.header-fixed .header {
            inset-inline-start: var(--sidebar-width) !important;
        }

        .vacom.sidebar-fixed.header-fixed .wrapper {
            padding-top: var(--header-height);
        }

        .vacom.sidebar-collapse {
            --sidebar-width: var(--sidebar-width-collapse);
        }

        .vacom.sidebar-collapse .sidebar {
            transition: width var(--sidebar-transition-duration) var(--sidebar-transition-timing);
        }

        .vacom.sidebar-collapse .sidebar:hover {
            width: var(--sidebar-default-width);
        }

        .vacom.sidebar-collapse .sidebar:not(:hover) .default-logo {
            display: none;
        }

        .vacom.sidebar-collapse .sidebar:not(:hover) .small-logo {
            display: flex;
        }

        .vacom.sidebar-collapse .sidebar:not(:hover) [data-slot='accordion-menu-title'],
        .vacom.sidebar-collapse .sidebar:not(:hover) [data-slot='badge'],
        .vacom.sidebar-collapse .sidebar:not(:hover) [data-slot='accordion-menu-sub-indicator'] {
            display: none !important;
            transition: none !important;
            animation: none !important;
        }

        .vacom.sidebar-collapse .sidebar:not(:hover) [data-slot='accordion-menu-sub-content'] {
            visibility: hidden;
            position: absolute;
            height: 0;
            width: 0;
        }

        .vacom.sidebar-collapse .sidebar:not(:hover) [data-slot='accordion-menu-label'] {
            visibility: hidden;
            position: relative;
        }

        .vacom.sidebar-collapse .sidebar:not(:hover) [data-slot='accordion-menu-label']::before {
            content: '...';
            color: currentColor;
            font-size: inherit;
            position: absolute;
            visibility: visible;
            display: inline-block;
            bottom: 50%;
            inset-inline-start: 0;
            margin-inline-start: -0.15rem;
            top: 0.25rem;
            transform: translateX(100%);
        }
    }

    .vacom.layout-initialized .wrapper {
        transition: padding-inline-start var(--sidebar-transition-duration) var(--sidebar-transition-timing);
    }

    .vacom.layout-initialized .header {
        transition: inset-inline-start var(--sidebar-transition-duration) var(--sidebar-transition-timing);
    }
}